body {
	background: #191919;
	font-family: "Arial"
}

.prestige {
	border: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 80px;
	height: 80px;
	font-size: 12px;
	z-index: 1
}

.prestige b {
	font-size: 16px;
    pointer-events: all
}

#adjuster {
	position: absolute;
	left: 0;
	top: 0;
	width: 80px;
	height: 80px;
}

#layer {
	position: fixed;
	background: #e5e5e5;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 24px;
	font-size: 24px;
	font-weight: bold;
	color: #191919;
	z-index: 2
}

#prev {
	border: none;
	position: fixed;
	background: #999999;
	right: 24px;
	bottom: 0;
	width: 24px;
	height: 24px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #191919;
	z-index: 2
}

#next {
	border: none;
	position: fixed;
	background: #999999;
	right: 0;
	bottom: 0;
	width: 24px;
	height: 24px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #191919;
	z-index: 2
}